body {
    /* margin: 0; */
    padding: 0;
}

.todo {
    width: 40%;    
}
.container {
    display: flex;
    flex-basis: 300px;
    justify-content: space-between;
    flex-direction: row-reverse;
}

ul li {
    list-style-type: none;
}